<template>
    <section>
        <router-view v-if="ready"/>
        <full-loading v-else :show="true"/>
        <notifications position="bottom right"/>
    </section>
</template>
<script>
import { mapState } from "vuex";
export default {
    computed: mapState({
        ready: state => state.auth.ready
    }),
    watch: {
        ready(rdy) {
            if (rdy && this.$store.state.auth.usuario) {
                this.$router.replace("/");
            }
        }
    }
};
</script>
