<template>
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li is="dash-sidenav-link" title="Dashboard" icon="fa-dashboard" route="/"/>
        <li is="dash-sidenav-link" title="Facturas" icon="fa-money" route="/facturas"/>
        <li is="dash-sidenav-link" title="Productos" icon="fa-list" route="/productos" v-if="admin"/>
        <li is="dash-sidenav-link" title="Empleados" icon="fa-address-card" route="/empleados" v-if="admin"/>
        <li is="dash-sidenav-link" title="Historial" icon="fa-history" route="/historial"/>
        <li is="dash-sidenav-link" title="Respaldos" icon="fa-database" route="/backup"/>
    </ul>
</template>
<script>
import { mapState } from "vuex";
export default {
    name: "dash-sidenav",
    computed: mapState({
        admin: state => state.auth.usuario.rol == "admin"
    })
};
</script>
