<template>
    <ul class="navbar-nav ml-auto">
        <!-- <li is="dash-navbar-messages"></li> -->
        <!-- <li is="dash-navbar-alerts"></li> -->
        <!-- <li is="dash-navbar-search"></li> -->
        <li is="dash-navbar-perfil"></li>
        <li is="dash-navbar-logout"></li>
    </ul>
</template>

<script>
export default {
    name: "dash-navbar"
};
</script>
