<template>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" :title="title">
        <router-link class="nav-link" :to="route">
            <i class="fa fa-fw" :class="icon"></i>
            <span class="nav-link-text">{{ title }}</span>
        </router-link>
    </li>
</template>
<script>
export default {
    name: "dash-sidenav-link",
    props: {
        title: { type: String, required: true },
        route: String,
        icon: String
    }
};
</script>

