<template>
  <transition name="fade" v-bind="$attrs">
    <slot></slot>
  </transition>
</template>
<script>
export default {
  name: "dash-fade"
};
</script>
<style scoped>
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
</style>


