<template>
    <li class="nav-item">
        <router-link class="nav-link text-truncate" to="/perfil">
            <i class="fa fa-fw fa-user"></i>
            {{ usuario }} 
        </router-link> 
    </li>
</template>
<script>
import { mapState } from "vuex";
export default {
    name: "dash-navbar-perfil",
    computed: mapState({
        usuario: state => state.auth.usuario.nombre
    })
};
</script>

