<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <router-link class="navbar-brand" to="/">Code Inventario</router-link>
        <dash-navbar-toggler></dash-navbar-toggler>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <dash-sidenav></dash-sidenav>
            <dash-sidenav-toggler></dash-sidenav-toggler>
            <dash-navbar></dash-navbar>
        </div>
    </nav>
</template>

<script>
export default {
    name: "dash-nav"
};
</script>
