<template>
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Cerrar Sesíon
        </a>
    </li>
</template>
<script>
export default {
    name: "dash-navbar-logout"
};
</script>

