<template>
  <div class="content-wrapper">
        <div class="container-fluid">
            <slot></slot>
        </div>
  </div>
</template>
<script>
export default {
    name: "dash-content"
};
</script>

