<template>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar Sesión" si esta listo para cerrar sesión</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" @click="logout()">Cerrar Sesíon</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "dash-logout-modal",
    methods: {
        logout() {
            $("#exampleModal").modal("hide");
            this.$store.commit("LOGOUT");
            this.$router.replace("/auth/login");
        }
    }
};
</script>
