<template>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Stevenson Marquez Rangel</small>
            </div>
        </div>
    </footer>
</template>
<script>
export default {
    name: "dash-footer"
};
</script>

