<template>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
    </ol>
</template>
<script>
export default {
    name: "dash-breadcrumb"
};
</script>
