<template>
  <body class="bg-dark auth-background">
    <div class="container">
        <router-view></router-view>
    </div>
  </body>
</template>

<style scoped>
.auth-background {
  position: fixed;
  height: 100%;
  width: 100%;
}
</style>

