<template>
  <div class="row">
    <div class="col-md-6">
      <backup-export/>
    </div>
    <div class="col-md-6">
      <backup-import/>
    </div>
  </div>
</template>
<script>
export default {};
</script>
