<template>
  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
    <dash-nav></dash-nav>
    <dash-content>
      <!-- Breadcrumbs-->
      <!-- <dash-breadcrumb></dash-breadcrumb> -->
      <router-view></router-view>
    </dash-content> 
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <dash-footer></dash-footer>
    <!-- Scroll to Top Button-->
    <dash-scroll-to-top></dash-scroll-to-top>
    <!-- Logout Modal-->
    <dash-logout-modal></dash-logout-modal>
  </body>
</template>

<script>
export default {
  name: "dash"
};
</script>
