<template>
  <section class="text-center">
    <group-input 
        name="search" 
        icon="fa fa-search" 
        type="date"
        required 
        :max="max" 
        v-model="search"/>
    <hr>
    <factura-dia v-if="search" :day="search"></factura-dia>
    </section>
</template>

<script>
export default {
  data() {
    return { search: this.now(), max: this.now() };
  },
  async created() {
    await this.$store.dispatch("FETCH_FACTURAS");
  },
  methods: {
    now() {
      return this.$moment().format("YYYY-MM-DD");
    }
  }
};
</script>
