<template>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <span class="fa fa-users"></span>
          <h5 class="d-inline">Empleados</h5>
          <div class="float-right">
            <b-btn size="sm" variant="primary rounded" @click="$refs.reg.show()">
              Registrar Empleado
            </b-btn>
          </div>
        </div>
        <div class="card-body">
          <tabla-usuarios/>
        </div>
      </div>
    </div>
    <b-modal ref="reg" title="Registrar Empleado" hide-footer>
      <user-form @created="$refs.reg.hide()"/>
    </b-modal>
  </div>
</template>
<script>
export default {
  created() {
    this.$store.dispatch("FETCH_EMPLEADOS");
  }
};
</script>
