<template>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <caja-productos @selected="p => $refs.factura.add(p)"/>
    </div>
    <div class="col-sm-12 col-md-8">
      <caja-factura ref="factura"/>
    </div>
  </div>
</template>
<script>
export default {
  created() {
    this.$store.dispatch("FETCH_PRODUCTOS");
  }
};
</script>

