<template>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
            <span class="fa fa-history"></span>
            <h5 class="d-inline">Historial</h5>
            <b-button-toolbar class="float-right">
              <b-button-group size="sm"  >
                <b-btn variant="outline-info" to="/historial/diario">
                  Diario
                </b-btn>
                <b-btn variant="outline-info" to="/historial/ventas">
                  Ventas
                </b-btn>
                <b-btn variant="outline-info" to="/historial/pedidos">
                  Pedidos
                </b-btn>
              </b-button-group>
            </b-button-toolbar>
        </div>
        <div class="card-body">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>
