<template>
  <section class="section">
    <hs-estadisticas/>
  </section>
</template>
<script>
export default {
  async created() {
    await this.$store.dispatch("FETCH_FACTURAS");
    await this.$store.dispatch("FETCH_PRODUCTOS");
  }
};
</script>
