<template>
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Inicio de Sesíon</div>
    <div class="card-body">
      <div class="alert alert-danger" v-if="status">{{ status }}</div>
      <form @submit.prevent="safeExec(submit)">
        <form-input 
          type="email"  
          name="correo" 
          label="Correo:" 
          v-model="usuario.correo"
          v-validate="'required|email'"
          :error-messages="errors.collect('correo')"/>
        
        <form-input 
          type="password" 
          name="contraseña" 
          label="Contraseña:" 
          v-model="usuario.contraseña"
          v-validate="'required|min:4|max:20'"
          :error-messages="errors.collect('contraseña')"/>

          <button type="submit" class="btn btn-primary btn-block">
            Iniciar Sesíon
          </button>
      </form>
        <div class="text-center mt-1">
          <router-link class="d-block small mt-3" v-if="register" to="/auth/register">
            Registrarse
          </router-link>
          <router-link class="d-block small" to="/auth/reset">
            Se le olvido la contraseña?
          </router-link>
        </div>
      </div>
    </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      usuario: {},
      status: null
    };
  },
  methods: {
    async submit() {
      try {
        await this.$store.dispatch("LOGIN", this.usuario);
        this.$router.replace("/");
      } catch (e) {
        this.status = e.message;
      }
    }
  },
  computed: mapState({
    register: state => !state.empleados.empleados.length
  })
};
</script>
