<template>
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Recuperación de contraseña</div>
    <div class="card-body">
      <b-alert variant="danger" :show="Boolean(status)">
        {{ status }}
      </b-alert>
      <b-alert variant="success" :show="sended">
        Se le ha enviado un correo con tu nueva contraseña! 
      </b-alert>
      <form @submit.prevent="safeExec(submit)">
        <form-input 
          type="email"  
          name="correo" 
          label="Correo:" 
          v-model="correo"
          v-validate="'required|email'"
          :error-messages="errors.collect('correo')"/>

          <button type="submit" class="btn btn-primary btn-block">
            Recuperar Contraseña
          </button>
      </form>
        <div class="text-center">
          <router-link class="d-block small mt-3" to="/auth/login">
            Iniciar Sesión
          </router-link>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      correo: null,
      status: null,
      sended: false
    };
  },
  methods: {
    submit() {
      try {
        this.$store.dispatch("SEND_PASSWORD_RESET", this.correo);
        this.sended = true;
        this.status = null;
      } catch (e) {
        this.status = e.message;
      }
    }
  }
};
</script>
