<template>
<section>
    <div role="tablist">
        <b-card no-body v-for="dia in paginator.items" :key="dia.tag" class="m-0">
            <b-card-header role="tab" class="p-1">
                <b-btn block v-b-toggle="dia.tag" variant="light">
                    {{ dia.tag }}
                </b-btn>
            </b-card-header>
            <b-collapse :id="dia.tag" accordion="acc" role="tabpanel">
                <b-card-body class="p-1">
                    <tabla-pedidos :pedidos="dia.pedidos"/>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
    <div class="d-flex justify-content-center mt-3" v-if="paginator.rows > 1">
        <b-pagination 
            :total-rows="paginator.rows" 
            :per-page="paginator.show" 
            v-model="paginator.page"/>
    </div>
</section>
</template>
<script>
import { mapState } from "vuex";
import { groupBy, keys } from "lodash";

export default {
  data() {
    return {
      paginator: this.$paginator(8)
    };
  },
  async created() {
    await this.$store.dispatch("FETCH_PEDIDOS");
  },
  computed: {
    ...mapState({
      pedidos: state => state.productos.pedidos
    }),
    dias() {
      let dias = groupBy(this.pedidos, pedido => {
        return this.$moment(pedido.id).format("dddd LL");
      });
      return keys(dias).map(dia => ({
        tag: dia,
        pedidos: dias[dia]
      }));
    }
  },
  watch: {
    dias: {
      handler(data) {
        this.paginator.data = data;
      }
    }
  }
};
</script>
