<template>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <span class="fa fa-user"></span>
          <h5 class="d-inline">Informacion Basica</h5>
        </div>
        <div class="card-body">
          <perfil-basic/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <span class="fa fa-key"></span>
          <h5 class="d-inline">Cambiar Contraseña</h5>
        </div>
        <div class="card-body">
          <perfil-contra/>
        </div>
      </div>
    </div>
    </div>
</template>
<script>
export default {};
</script>