<template>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <span class="fa fa-list"></span>
          <h5 class="d-inline">Productos</h5>
          <div class="float-right">
            <button class="btn btn-primary btn-sm" @click="$refs.create.show()">
              Agregar
            </button>
          </div>                            
        </div>
        <div class="card-body">
          <group-input type="search" name="search" icon="fa-search" v-model="search"/>
          <tabla-productos 
            class="mt-3" 
            :search="search" 
            @edit="open($refs.edit, $event)" 
            @pedir="open($refs.pedir, $event)"/>
        </div>
      </div>
    </div>
    <!-- Modals -->
    <b-modal ref="create" title="Agregar producto" hide-footer>
      <producto-form/>
    </b-modal>

    <b-modal ref="edit" title="Editar Producto" hide-footer>
      <edit-producto-form :selected="selected" @updated="hide($refs.edit)"/>
    </b-modal>

    <b-modal ref="pedir" hide-footer>
      <template slot="modal-title" v-if="selected">
        Ingresar Producto: {{ selected.nombre }} 
      </template>
      <pedido-form :selected="selected" @updated="hide($refs.pedir)"/>
    </b-modal>
  </div>
</template>
<script>
export default {
  data() {
    return {
      search: "",
      selected: null
    };
  },
  async created() {
    await this.$store.dispatch("FETCH_PRODUCTOS");
  },
  methods: {
    open(modal, producto) {
      this.selected = producto;
      modal.show();
    },
    hide(modal) {
      modal.hide();
      this.selected = null;
    }
  }
};
</script>
