<template>
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Registrarse</div>
      <div class="card-body">
        <div class="alert alert-danger" v-if="status">{{ status }}</div>
        <form @submit.prevent="safeExec(registrar)">
          <div class="row">
            <div class="col-md-6">
                <form-input 
                  name="nombre" 
                  label="Nombre:" 
                  v-model="usuario.nombre"
                  v-validate="'required|alpha_spaces|min:4|max:30'"
                  :error-messages="errors.collect('nombre')"/>
            </div>
            <div class="col-md-6">
                <form-input 
                  type="email"  
                  name="correo" 
                  label="Correo:" 
                  v-model="usuario.correo"
                  v-validate="'required|email'"
                  :error-messages="errors.collect('correo')"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form-input 
                type="password" 
                name="contraseña" 
                label="Contraseña:" 
                v-model="usuario.contraseña"
                v-validate="'required|min:4|max:20'"
                :error-messages="errors.collect('contraseña')"/>
            </div>
              <div class="col-md-6">
                  <form-input 
                    type="password" 
                    name="confirmar" 
                    label="Confirmar Contraseña:" 
                    v-model="confirmar"
                    v-validate="{ required: true, confirmed: usuario.contraseña}"
                    :error-messages="errors.collect('confirmar')"/>
              </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Registrarse
          </button>
        </form>
        <div class="text-center">
          <router-link class="d-block small mt-3" to="/auth/login">
            Inicia Session
          </router-link>
            <!-- <a class="d-block small" href="forgot-password.html">Forgot Password?</a> -->
        </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      usuario: {},
      confirmar: null,
      status: null
    };
  },
  methods: {
    async registrar() {
      try {
        await this.$store.dispatch("REGISTER", this.usuario);
        this.$router.push("/");
      } catch (err) {
        this.status = err.message;
      }
    }
  }
};
</script>
