<template>
  <div class="row">
    <div class="col-md-6">
      <group-input 
        name="search" 
        icon="fa fa-search" 
        type="date"
        required 
        :max="max" 
        v-model="query"/>
        <hr>
      <lista-facturas 
        :facturas="paginator.items" 
        :selected="selected"
        @select="selected = $event"/>
      <div 
        class="d-flex justify-content-center mt-3" 
        v-if="paginator.rows > 1">
        <b-pagination
          :limit="4"
          :total-rows="paginator.rows" 
          :per-page="paginator.show" 
          v-model="paginator.page"/>
      </div>
    </div>
    <div class="col-md-6">
      <dash-fade mode="out-in">
        <detalles-factura 
          v-if="selected" 
          :key="selected.id.toString()" 
          :factura="selected" 
          @destroyed="clear">
        </detalles-factura>
      </dash-fade>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      paginator: this.$paginator(6),
      query: null,
      max: this.now(),
      selected: null
    };
  },
  async created() {
    await this.$store.dispatch("FETCH_FACTURAS");
  },
  methods: {
    now() {
      return this.$moment().format("YYYY-MM-DD");
    },
    clear() {
      setTimeout(() => (this.selected = null), 1000);
    }
  },
  computed: {
    search() {
      if (!this.query) return this.facturas;
      let date = this.$moment(this.query);
      return this.facturas.filter(f => this.$moment(f.id).isSame(date, "day"));
    },
    ...mapState({
      facturas: state => state.factura.facturas
    })
  },
  watch: {
    search: {
      handler(data) {
        this.paginator.data = data;
      },
      immediate: true
    }
  }
};
</script>
