doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')   
    meta(name='viewport', content='width=device-width')
    title CodeInventario: Recuperación de contraseña
    include style
    body(bgcolor='#ffffff')  
      table.body-wrap.w320
        tr
          td
          |                 
          td.container
            .content
              table(cellspacing='0')
                tr
                  td
                    table.soapbox
                      tr
                        td.soapbox-title Recuperación de contraseña
                    |                                     
                    table.status-container.single
                      tr
                        td.status-padding
                        |                                             
                        td
                          table.status(bgcolor='#fffeea', cellspacing='0')
                            tr
                              td.status-cell
                                | Tu nueva contraseña:
                                b= contraseña
                        |                                             
                        td.status-padding
                    |                                     
                    table.body
                      tr
                        td.body-padding
                        |                                             
                        td.body-padded
                          .body-title Recuerda actualizar tu contraseña una vez inicies sesión                                             
                          table.body-signature-block
                            tr
                              td.body-signature-cell
                                p Gracias, 
                                  i CodeInventario                                  
                        td.body-padding
