<template>
  <div class="card">
    <div class="card-header text-center p-2">
      <b>{{ factura.id | date("dddd LL h:m A") }}</b>
    </div>
    <div class="table-responsive">
      <table class="table table-sm table-bordered mb-0">
        <thead class="thead-light">
          <tr>
            <th class="text-center text-uppercase">Producto</th>
            <th class="text-center text-uppercase">Cantidad</th>
            <th class="text-center text-uppercase">Valor</th>
            <th class="text-center text-uppercase">Existencia</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="producto in factura.productos" :key="producto.id" class="text-center">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.valor | currency }}</td>
            <td>{{ producto.existencia }}</td>
          </tr>
        </tbody>
        <tfoot class="text-center thead-light">
          <tr>
            <th colspan="2">VENTA</th>
            <th colspan="2">{{ factura.venta | currency }}</th>
          </tr>
          <tr>
            <th colspan="2">PAGO</th>
            <th colspan="2">{{ factura.pago | currency }}</th>
          </tr>
          <tr>
            <th colspan="2">CAMBIO</th>
            <th colspan="2">{{ factura.cambio | currency }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="card-footer p-1 text-center">
      <span class="cancel" @click="modal = true">cancelar venta</span>
    </div>
    <b-modal v-model="modal" hide-footer title="Cancelar Venta">
      <div class="text-center">
        <p> 
          Realizando esta operacion los productos 
          vendidos regresaran al inventario y el registro 
          de esta venta sera eliminado.
          <b>Esta seguro de cancelar esta factura ?</b>
        </p>
      </div>
      <b-btn class="mt-2" block variant="outline-danger" @click="destroy">
        ELIMINAR FACTURA
      </b-btn>
    </b-modal>
  </div>
</template>
<script>
export default {
  name: "detalles-factura",
  props: {
    factura: { type: Object, required: true }
  },
  data: () => ({ modal: false }),
  methods: {
    async destroy() {
      await this.$store.dispatch("CANCELAR_FACTURA", this.factura);
      this.modal = false;
      this.$notify("<h5>Venta Cancelada!</h5>");
      this.$emit("destroyed", this.factura);
    }
  }
};
</script>
<style>
.cancel {
  color: red;
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}
</style>
