<template>
  <div class="table-responsive">
    <table class="table table-bordered table-sm text-center">
      <thead class="thead-light">
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Venta</th>
          </tr>
      </thead>
      <tbody>
        <tr is="producto-dia" 
          v-for="(items, key) in productos"
          :key="key"
          :items="items"/>
      </tbody>
        <tfoot class="thead-light">
          <tr>
            <th colspan="2">Venta del dia</th>
            <th>{{ venta | currency }}</th>
          </tr>
        </tfoot>
    </table>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { groupBy, sumBy } from "lodash";
export default {
  name: "factura-dia",
  props: {
    day: { type: String, required: true }
  },
  computed: {
    ...mapGetters("estadisticas", ["facturasDia"]),

    facturas() {
      return this.facturasDia(this.day);
    },
    productos() {
      let productos = this.facturas.reduce(
        (productos, factura) => productos.concat(factura.productos),
        []
      );
      return groupBy(productos, "id");
    },
    venta() {
      return sumBy(this.facturas, "venta");
    }
  }
};
</script>

