<template>
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-money"></i>
                    </div>
                    <div class="mr-5">
                        <b>{{ ventasDia | currency }}</b> en ventas del dia!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5">
                        <b>{{ vendidos }}</b> productos vendidos el dia de hoy!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-list"></i>
                    </div>
                    <div class="mr-5">
                        <b>{{ productos }}</b> productos registrados!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fa fa-fw fa-history"></i>
                    </div>
                    <div class="mr-5">
                        <b>{{ ventasMes | currency }}</b> en ventas en el mes!
                    </div>
                </div>
            </div>
        </div>    
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    name: "hs-estadisticas",
    computed: mapGetters("estadisticas", [
        "productos",
        "vendidos",
        "ventasMes",
        "ventasDia"
    ])
};
</script>