<template>
  <b-list-group>
    <b-list-group-item 
      v-for="factura in facturas" 
      :key="factura.id.toString()"
      :active="factura == selected"
      @click="$emit('select', factura)"
      class="item" 
      button>
      {{ factura.id | date("dddd LL h:m A") }}
    </b-list-group-item>
  </b-list-group>
</template>
<script>
export default {
  name: "lista-facturas",
  props: ["facturas", "selected"]
};
</script>

<style scoped>
.item {
  cursor: pointer;
}
</style>
