<template>
    <tr>
        <td>{{ nombre }}</td>
        <td>{{ cantidad }}</td>
        <td>{{ venta | currency }}</td>
    </tr>
</template>
<script>
import { sumBy } from "lodash";
export default {
  name: "producto-dia",
  props: {
    items: { type: Array, required: true }
  },
  computed: {
    nombre() {
      return this.items[0].nombre;
    },
    venta() {
      return sumBy(this.items, "valor");
    },
    cantidad() {
      return sumBy(this.items, "cantidad");
    }
  }
};
</script>
