<template>
    <table class="table table-sm table-bordered mb-0">
        <thead class="thead-light">
            <tr>    
                <th class="text-center">Producto</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Hora</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="pedido in pedidos" 
                :key="pedido.id.toString()" 
                class="text-center">
                <td>{{ pedido.producto }}</td>
                <td>{{ pedido.cantidad }}</td>
                <td>{{ pedido.id | date('h:m A') }}</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    name: "tabla-pedidos",
    props: {
        pedidos: Array
    }
};
</script>

