<template>
  <form @submit.prevent="submit()" v-if="selected">
        <b-alert variant="danger" show v-if="status">
            {{ status }}
        </b-alert>
        <b-input-group prepend="Nombre" class="mt-3">
            <b-form-input name="nombre" v-model="producto.nombre" 
                required maxlength="40"/>
        </b-input-group>
        <b-input-group prepend="Precio" append="$" class="mt-3">
            <b-form-input type="number" name="precio" v-model.number="producto.precio" 
                required min="0"/>
        </b-input-group>
        <button type="submit" class="btn btn-primary mt-3 mx-auto d-block">
            Guardar
        </button>
    </form>
</template>
<script>
import { mapState } from "vuex";
import UpdateProducto from "../mixins/UpdateProducto";
import ProductoUpper from "../mixins/ProductoUpper";
export default {
    name: "edit-producto-form",
    mixins: [UpdateProducto, ProductoUpper]
};
</script>
