<template>
    <form @submit.prevent="submit" v-if="selected">
        <b-input-group prepend="Cantidad">
            <b-form-input type="number" name="cantidad" min="1" required v-model.number="cantidad"/>
        </b-input-group>
         <div class="form-text text-muted" v-show="cantidad >= 1">
                <span class="badge badge-info">
                    Existencia Actual: {{ selected.existencia }}
                </span>
                <span class="badge badge-primary">
                    Nueva Existencia: {{ selected.existencia + cantidad }}
                </span> 
            </div>
        <b-button type="submit" variant="primary mt-3 mx-auto d-block">Registrar</b-button>
    </form>
</template>
<script>
import UpdateProducto from "../mixins/UpdateProducto";
export default {
    name: "pedido-form",
    mixins: [UpdateProducto],
    data() {
        return { cantidad: 0, dispatch: "PEDIR_PRODUCTO" };
    },
    methods: {
        payload() {
            return { producto: this.selected, cantidad: this.cantidad };
        },
        reset() {
            this.cantidad = 0;
        }
    }
};
</script>
