<template>
    <form @submit.prevent="submit()">
        
        <b-alert variant="danger" show v-if="status">
            {{ status }}
        </b-alert>

        <b-input-group prepend="Nombre" class="mt-3">
            <b-form-input 
                ref="nombre" 
                name="nombre" 
                v-model="producto.nombre" 
                required 
                maxlength="40" 
                autofocus/>
        </b-input-group>

        <b-input-group prepend="Existencia" class="mt-3">
            <b-form-input 
                type="number" 
                name="existencia" 
                v-model.number="producto.existencia" 
                required 
                min="0"/>
        </b-input-group>
        
        <b-input-group prepend="Precio" append="$" class="mt-3">
            <b-form-input 
                type="number" 
                name="precio" 
                v-model.number="producto.precio" 
                required 
                min="0"/>
        </b-input-group>
       
        <button 
            type="submit" 
            class="btn btn-primary mx-auto mt-3 d-block">
            Agregar
        </button>
    </form>
</template>
<script>
import ProductoUpper from "../mixins/ProductoUpper";
export default {
    name: "producto-form",
    mixins: [ProductoUpper],
    data() {
        return {
            producto: {},
            status: null
        };
    },
    methods: {
        async submit() {
            try {
                await this.$store.dispatch("ADD_PRODUCTO", this.producto);
                this.reset();
                this.$emit("added");
                this.$notify("<h5>Producto Agregado!</h5>");
            } catch (e) {
                this.status = e.message;
            }
        },
        reset() {
            this.producto = {};
            this.$refs.nombre.focus();
            this.status = null;
        }
    }
};
</script>
