<template>
  <section>
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Existencia</th>
          <th class="text-center">Acción</th>
        </tr>
      </thead>
        <tbody>
          <tr 
            v-for="producto in paginator.items" 
            :key="producto.id" 
            class="text-center">
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio | currency }}</td>
            <td>{{ producto.existencia }}</td>
            <td>
              <b-button 
                title="Editar producto" 
                variant="primary rounded" 
                size="sm" 
                @click="edit(producto)"> 
                <span class="fa fa-edit"></span>
              </b-button>
              <b-button 
                title="Ingresar producto" 
                variant="danger rounded" 
                size="sm" 
                @click="pedir(producto)"> 
                <span class="fa fa-plus-circle"></span>
              </b-button>
            </td>
          </tr>
        </tbody>
    </table>  
    <div class="d-flex justify-content-center" v-if="paginator.rows > 1">
      <b-pagination 
        :total-rows="paginator.rows" 
        :per-page="paginator.show"  
        v-model="paginator.page" 
      />
    </div>
  
  </section>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
    name: "tabla-productos",
    props: {
        search: { type: String, default: "" }
    },
    data() {
        return {
            paginator: this.$paginator(7)
        };
    },
    methods: {
        edit(producto) {
            this.$emit("edit", producto);
        },
        pedir(producto) {
            this.$emit("pedir", producto);
        }
    },
    computed: {
        ...mapState({
            productos: state => state.productos.productos
        }),
        ...mapGetters(["searchProduct"])
    },

    watch: {
        productos(data) {
            this.paginator.data = this.searchProduct(this.search);
        },
        search: {
            handler(query) {
                this.paginator.data = this.searchProduct(query);
            },
            immediate: true
        }
    }
};
</script>
