<template>
    <div class="card">
        <div class="card-header">Exportar</div>
        <div class="card-body">
            <p class="card-text text-center">
                Obtener un respaldo de la base de datos del inventario
            </p>
            <button class="btn btn-primary m-auto d-block" @click="exportar">
                Exportar
            </button>
        </div>
    </div>
</template>
<script>
export default {
    name: "backup-export",
    methods: {
        async exportar() {
            await this.$backup.export();
        }
    }
};
</script>
