<template>
    <div class="card">
        <div class="card-header">Importar</div>
        <div class="card-body">
            <p class="card-text text-center">
                Restaurar la informacion desde un archivo de respaldo
            </p>
            <form @submit.prevent="importar">
                <b-alert class="text-center" v-if="status" :variant="status.variant" show >
                    {{ status.text }}
                </b-alert>
                <file-input name="backup"
                    required 
                    accept=".code, .json"
                    @change="file = $event.target.files[0]"/>
                
                <button type="submit" v-if="file" class="btn btn-primary mx-auto d-block mt-3">
                    Importar
                </button>
            </form>
        </div>
    </div>
</template>
<script>
export default {
    name: "backup-import",
    data() {
        return { file: null, status: null };
    },
    methods: {
        async importar() {
            try {
                await this.$backup.import(this.file);
                this.status = {
                    variant: "success",
                    text: "Informacion restaurada correctamente"
                };
            } catch (e) {
                this.status = {
                    variant: "danger",
                    text: "Error al importar el archivo de respaldo"
                };
            }
        }
    }
};
</script>
