<template>
	<ul class="text-danger m-auto">
    <li v-for="msg in messages" :key="msg">
      <small>{{ msg }}</small>
    </li>
	</ul>
</template>
<script>
export default {
    name: "caja-errors",
    props: {
        messages: { type: Array, required: true }
    }
};
</script>