<template>
    <div class="card">
        <div class="card-header">
            <span class="fa fa-list"></span>
            <h5 class="d-inline">Productos</h5>            
        </div>
        <div class="card-header">
            <group-input 
                name="search" 
                type="search" 
                v-model="search" 
                placeholder="Buscar" 
                icon="fa-search"/>
        </div>
        <ul class="list-group">
            <li class="list-group-item"
                v-for="producto in paginator.items" 
                :key="producto.id">
                {{ producto.nombre }}
                <span 
                    class="badge badge-primary badge-pill pull-right" 
                    title="Pasar a factura" 
                    style="cursor: pointer" 
                    @click="$emit('selected', producto)">
                    <i class="fa fa-arrow-right"></i>
                </span>
            </li>
        </ul>
        
        <div 
            class="d-flex justify-content-center mt-2" 
            v-show="paginator.rows > 1">
            <b-pagination 
                :total-rows="paginator.rows" 
                :per-page="paginator.show" 
                v-model="paginator.page"/>
        </div>
    </div>
</template>
<script>
import { mapState, mapGetters } from "vuex";

export default {
    name: "caja-productos",

    data() {
        return {
            search: "",
            paginator: this.$paginator(7)
        };
    },

    computed: {
        ...mapState("productos", ["productos"]),
        ...mapGetters(["searchProduct"])
    },

    watch: {
        search: {
            handler(query) {
                this.paginator.data = this.searchProduct(query);
            },
            immediate: true
        }
    }
};
</script>
