<template>
    <div class="card">
        <div class="card-header">
          <span class="fa fa-shopping-cart"></span>
          <h5 class="d-inline">Factura</h5>
        </div>
        <div class="card-body">
            <div class="row" v-for="prod in productos" :key="prod.id">
                <div class="col-4">
                    <producto-detalles :producto="prod" @cancel="remove"/>
                </div>
                <div class="col-8">
                    <producto-operacion ref="operaciones" 
                        :valor.sync="prod.valor" :cantidad.sync="prod.cantidad"
                        :existencia="prod.existencia" :precio="prod.precio"/>
                </div>
                <hr class="w-100 mt-0">
            </div>
            <div class="row" v-if="productos.length">
                <div class="col-md-8">
                    <group-input type="number" name="pago"  
                        v-model="pago" addon="Pago" min="0"
                        v-validate="'min_value:0'" 
                        :has-error="errors.has('pago')"/>
                    <h4 class="d-inline">
                    <span class="badge badge-primary ml-1">
                        Venta Total: ${{ venta }} 
                    </span>
                    </h4>
                    <h4 class="d-inline">
                    <span class="badge badge-secondary ml-1">
                        Cambio: ${{ cambio }}
                    </span>
                    </h4>
                </div>    
                <div class="col-md-4">
                    <button class="btn btn-primary d-block mx-auto" 
                        :disabled="hasErrors()"
                        @click="submit()">
                    Registrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { sumBy, pick } from "lodash";

export default {
    name: "caja-factura",
    data() {
        return {
            productos: [],
            pago: 0,
            status: {}
        };
    },
    methods: {
        hasErrors() {
            return (
                this.operationHasErrors || this.errors.any() || this.cambio < 0
            );
        },
        async submit() {
            await this.$store.dispatch("STORE_FACTURA", this.payload());
            this.clear();
            this.$notify("<h5>Facturación completada!</h5>");
            await this.$store.dispatch("FETCH_PRODUCTOS");
        },
        payload() {
            return pick(this, ["productos", "venta", "pago", "cambio"]);
        },
        clear() {
            this.productos = [];
        },
        add(prod) {
            if (this.productos.find(p => p.id == prod.id)) return;
            this.productos.push(prod);
        },
        remove(id) {
            this.productos = this.productos.filter(p => p.id != id);
        }
    },

    computed: {
        venta() {
            return sumBy(
                this.productos,
                prod => Number.parseInt(prod.valor) || 0
            );
        },
        cambio() {
            return (Number.parseInt(this.pago) || 0) - this.venta;
        },
        operationHasErrors() {
            let ops = this.$refs.operaciones;
            return ops ? ops.some(op => op.hasErrors()) : false;
        }
    },
    watch: {
        venta(value) {
            this.pago = value;
        }
    }
};
</script>

