<template>
    <section>
        <div class="row">
            <group-input class="input-group-sm col-6" type="number" 
                name="cantidad" addon="Cantidad" :value="cantidad" 
                @input="$emit('update:cantidad', Number($event))"
                min="1" :max="existencia"
                v-validate="{required: true, between: [1, existencia]}"
                :has-error="errors.has('cantidad')"/>

            <group-input class="input-group-sm col-6" type="number" 
                name="valor" addon="Valor $" :value="valor"
                @input="$emit('update:valor', Number($event))"
                min="0"
                v-validate="'required|min_value:0'"
                :has-error="errors.has('valor')"/>
        </div>
        <div class="row"> 
            <caja-errors :messages="[...errors.collect('valor'), ...errors.collect('cantidad')]"/>
        </div>
    </section>
</template>
<script>
export default {
    name: "producto-operacion",
    props: ["cantidad", "valor", "existencia", "precio"],
    methods: {
        hasErrors() {
            return this.errors.any();
        }
    },
    created() {
        this.$emit("update:cantidad", 1);
    },
    watch: {
        cantidad(value) {
            this.$emit("update:valor", this.cantidad * this.precio);
        }
    }
};
</script>
