<template>
	<section>
		<span class="p-tag">{{ producto.nombre }}</span>
        <p>
            <span class="badge badge-dark">
                Existencia: {{ producto.existencia }}
            </span>
            <span class="badge badge-secondary">
                Precio Unitario: ${{ producto.precio }}
            </span>
            <span class="badge badge-primary">
                Valor Sugerido: ${{ producto.cantidad * producto.precio }}
            </span>
            <span class="badge badge-info">
                Restante: {{ producto.existencia - producto.cantidad }}
            </span>
            <label class="cancel text-danger align-text-bottom d-block" 
                @click.prevent="$emit('cancel', producto.id)">
                cancelar
            </label>
        </p>
	</section>
</template>

<script>
import { mapMutations } from "vuex";
export default {
    name: "producto-detalles",
    props: {
        producto: { type: Object, required: true }
    }
};
</script>

<style scoped>
span.p-tag {
    color: green;
    text-decoration: underline;
}
label.cancel {
    text-decoration: underline;
    cursor: pointer;
}
label.cancel:hover {
    color: brown;
}
</style>