<template>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Correo</th>
                <th class="text-center">Cargo</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" v-for="usuario in empleados" :key="usuario._id">
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.rol }}</td>
                <td>
                    <b-btn size="sm" variant="danger rounded" v-if="usuario.rol != 'admin'" 
                        @click="borrar(usuario)">
                        ELIMINAR
                    </b-btn>
                </td>
            </tr>
        </tbody>
    </table>
</template>
<script>
import { mapState } from "vuex";
export default {
    name: "tabla-usuarios",
    computed: mapState({
        empleados: state => state.empleados.empleados
    }),
    methods: {
        async borrar(empleado) {
            await this.$store.dispatch("BORRAR_EMPLEADO", empleado);
            this.$notify("<h5>Empleado eliminado!</h5>");
        }
    }
};
</script>
