<template>
    <form @submit.prevent="safeExec(registrar)">
        <div class="alert alert-danger my-2" v-if="status">{{ status }}</div>
        <form-input name="nombre" label="Nombre" v-model="usuario.nombre"
            v-validate="'required|alpha_spaces'"
            :error-messages="errors.collect('nombre')"/>
        
        <form-input type="email" name="correo" label="Correo" v-model="usuario.correo"
            v-validate="'required|email'"
            :error-messages="errors.collect('correo')"/>
        
        <form-input type="password" name="contraseña" label="Contraseña"
            v-validate="'required|min:5'"
            :error-messages="errors.collect('contraseña')" 
            v-model="usuario.contraseña"/>
        
        <form-input type="password" name="confirmation" label="Confirmar Contraseña"
            v-validate="{ confirmed: usuario.contraseña, required: true }"
            :error-messages="errors.collect('confirmation')"
            v-model="confirmation"
            data-vv-as="confirmacion"/>

        <form-select name="cargo" :options="roles" label="Cargo" required
            v-model="usuario.rol"/>

        <b-btn type="submit" variant="primary rounded m-auto d-block">Registrar</b-btn>
    </form>
</template>

<script>
import { mapGetters } from "vuex";
import roles from "../mixins/roles";

export default {
    name: "user-form",
    mixins: [roles],
    data() {
        return {
            usuario: {},
            confirmation: null,
            status: null
        };
    },
    methods: {
        async registrar() {
            try {
                await this.$store.dispatch("REGISTRAR_EMPLEADO", this.usuario);
                this.clear();
                this.$emit("created");
                this.$notify("<h5>Empleado registrado!</h5>");
            } catch (e) {
                this.status = e.message;
            }
        },
        clear() {
            (this.usuario = {}), (this.confirmation = undefined);
            this.status = null;
            setTimeout(() => this.errors.clear());
        }
    }
};
</script>
