<template>
	<form @submit.prevent="safeExec(actualizar)">
    <div class="alert alert-danger my-2" v-if="status">{{ status }}</div>
		<form-input type="password" name="old_pass" label="Contraseña"
			v-model="payload.old_pass"
			v-validate="'required'" 
			:error-messages="errors.collect('old_pass')"
			data-vv-as="contraseña" required/>
		
		<form-input type="password" name="new_pass" label="Nueva Contraseña" 
			v-model="payload.new_pass"
			v-validate="'required|min:5'"
			:error-messages="errors.collect('new_pass')"
			data-vv-as="nueva contraseña" required min="5"/>

		<form-input type="password" name="new_pass_confirmation" label="Confirmar Contraseña" 
			v-model="confirmation"
			v-validate="{ confirmed: payload.new_pass, required: true }"
			:error-messages="errors.collect('new_pass_confirmation')"
			data-vv-as="confirmar contraseña" required/>

		<button type="submit" class="btn btn-primary m-auto d-block">
			Cambiar Contraseña
		</button>
	</form>
</template>
<script>
export default {
    name: "perfil-contra",
    data() {
        return {
            payload: {},
            confirmation: "",
            status: null
        };
    },
    methods: {
        async actualizar() {
            try {
                await this.$store.dispatch("UPDATE_PASSWORD", this.payload);
                this.$notify("<h5>Contraseña Actualizada!<h5>");
                this.clear();
            } catch (e) {
                this.status = e.message;
            }
        },
        clear() {
            this.status = null;
            this.payload = {};
            this.confirmation = "";
            setTimeout(() => this.errors.clear());
        }
    }
};
</script>