<template>
	<form @submit.prevent="safeExec(actualizar)" novalidate>
    <div class="alert alert-danger my-2" v-if="status">{{ status }}</div>
		<form-input name="nombre" label="Nombre" v-model="usuario.nombre" 
			v-validate="'required'" :error-messages="errors.collect('nombre')"/>

		<form-input type="email" name="correo" label="Correo" v-model="usuario.correo" 
			v-validate="'required|email'" :error-messages="errors.collect('correo')"/>

		<button type="submit" class="btn btn-primary m-auto d-block">
			Actualizar Informacion
		</button>
	</form>
</template>
<script>
import { mapState } from "vuex";
import { pick } from "lodash";
export default {
    name: "perfil-basic",
    data() {
        return {
            usuario: {
                ...pick(this.$store.state.auth.usuario, ["correo", "nombre"])
            },
            status: null
        };
    },
    methods: {
        async actualizar() {
            try {
                await this.$store.dispatch("UPDATE_PROFILE", this.usuario);
                this.$notify("<h5>Usuario Actualizado!<h5>");
                this.status = null;
            } catch (e) {
                this.status = e.message;
            }
        }
    }
};
</script>