<template>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i :class="icon"></i>
        </span>
      </div>
      <label :for="id" class="form-control text-truncate pointer">
        {{ label || text }}
      </label>
      <input :id="id" type="file" class="d-none" 
        v-bind="$attrs" v-on="$listeners"
        @change="change"/>
    </div>
</template>
<script>
export default {
  name: "file-input",
  props: {
    icon: { type: String, default: "fa fa-file" },
    text: { type: String, default: "Seleccionar archivo" },
    id: { type: String, default: "v-file-input" }
  },
  data() {
    return { label: null };
  },
  methods: {
    change(e) {
      this.label = e.target.files[0].name;
    }
  }
};
</script>
<style>
.pointer {
  cursor: pointer;
}
</style>