<template>
	<div class="input-group">
        <div class="input-group-prepend">
			<span class="input-group-text">
				<i class="fa" :class="icon" v-if="icon"></i>
				<template v-if="addon">{{ addon }}</template>
			</span>
		</div>
        <input :type="type" :name="name" :value="value" class="form-control" 
			:class="state" @input="input" v-bind="$attrs">
        <slot name="right-addons"/>
    </div>
</template>

<script>
import InputField from "../mixins/InputField";
export default {
    name: "group-input",
    mixins: [InputField],
    data() {
        return {
            errorClass: "is-invalid"
        };
    },
    props: {
        icon: String,
        addon: String
    }
};
</script>